[submodule "docs"]
	path = docs
url=../vcd-h5-docs.git
[submodule "lib/vuem"]
	path = lib/vuem
url=../third_party/vuem.git
[submodule "lib/apollo-sip"]
	path = lib/apollo-sip
url=../third_party/apollo-sip.git
[submodule "lib/apollo-rtc"]
	path = lib/apollo-rtc
url=../third_party/apollo-rtc.git
[submodule "plugins/vue-cli-plugin-vuem"]
	path = plugins/vue-cli-plugin-vuem
url=../third_party/vue-cli-plugin-vuem.git
[submodule "plugins/vue-cli-plugin-electron"]
	path = plugins/vue-cli-plugin-electron
url=../third_party/vue-cli-plugin-electron.git
[submodule "lib/yui"]
	path = lib/yui
url=../third_party/yui.git