@import "~tailwindcss/preflight.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";

.dragable {
  -webkit-app-region: drag
}

.no-dragable{
  -webkit-app-region: no-drag
}

.ant-avatar-string {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  position: relative;
  transform: unset !important;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*{
  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.08);
    border-left: none;
  }
  &::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.08);
    border-left: none;
  }
  &::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.15);
    min-height: 100px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
