@import "~tailwindcss/preflight.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";

.dragable {
  -webkit-app-region: drag
}

.no-dragable{
  -webkit-app-region: no-drag
}

.ant-avatar-string {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  position: relative;
  transform: unset !important;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*{
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    position: absolute;
    background-color: transparent;
    border-left: none;
  }
  //&::-webkit-scrollbar-track:hover {
  //  background: rgba(0, 0, 0, 0.08);
  //  border-left: none;
  //}
  &::-webkit-scrollbar-thumb {
    position: absolute;
    padding-right: 4px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.14);
    min-height: 200px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}